<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NewWorld.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D6C9DB431C0EA68B00A5CB4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6C9DB571C0EA68C00A5CB4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6C9DB621C0EA68C00A5CB4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
